# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Large Datasets & Media
data/
data/image/
data/video/
data/audio/
data/video_frames/

# Tracked via Git LFS in models/
checkpoints/
features/
models/*_backup.pt

# System / IDE / Cache / Backups
.idea/
.vscode/
.cache/
.DS_Store
*.log
*_backup.pt


